// Colors
$primary-color: red;
$secondary-color: red;
$success-color: red;
$info-color: red;
$warning-color: red;
$danger-color: red;
$muted-color: red;

// Fonts
$font-family-main: sans-serif;
$font-family-title: sans-serif;

// font size
$font-size-small: 0.875rem;
$font-size-normal: 1rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.5rem;

// Border radius
$border-radius: 0.30rem;

// Responsive breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;